* {
    box-sizing: border-box;
  }
.center{
    text-align:center;
    background-color: rgb(175, 172, 172);
    padding: 30px;
    font-size: 20px;
}
li{
    display:inline-block;
    list-style-type: none;
}
section{
    display: flex;
}
article{
    padding: 10px;
}
table{
    padding: 20px;
    border:1px solid grey;
}
.main{
    margin-top:100px;
}
.content-box{
    margin-top:100px;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
